body {
  border : 1px solid #337ab7;
}
p{
  margin : 0 0 0 0px;
}
div{
  margig : 0 0 0 0px;
}
div.container-fluid{
  padding: 0 0 0 0px;
}
div.panel.panel-primary{
  margin: 0 0 0 0px;
}
.editable{
  height: 475px;
}
.editable{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.body.record, .body.picture, .body.video {
  height: 505px;
}
.box-record{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

video, img{
  margin-left: 25px;
  border : 3px solid #337ab7;
}
